cffi==1.17.1
numpy==2.1.2
packaging==24.1
pillow==11.0.0
pybind11==2.13.6
pycparser==2.22
pynng==0.8.0
pyqtgraph==0.13.7
PySide6==6.7.3
PySide6_Addons==6.7.3
PySide6_Essentials==6.7.3
shiboken6==6.7.3
sniffio==1.3.1
